@import '../../Helper/ListColorVariable.scss';

.categories__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40px;
  margin-top: 20px;
  > ul {
    gap: 15px;
    display: flex;
    flex-direction: column;
    > li {
      text-decoration: underline;
    }
  }
  > button {
    background-color: $buttonBgInSideMenuList;
    padding: 12px 30px 12px 16px;
    border: none;
    outline: none;
    border-radius: 12px;
    margin-top: 20px;
  }
  > p {
    margin-bottom: 10px;
    font-size: 20px;
    display: flex;
    align-items: last baseline;
    gap: 2%;
  }
}
