@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&display=swap');
$linkcolor: #f4768d;
.log-modal {
  height: 100vh;
}

.login {
  margin: 10% auto;
  width: 300px;
  height: 400px;
  background: #ffffff;
  border-radius: 8px;

  &__date {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    height: 65%;
    justify-content: space-evenly;
    > a {
      font-size: 14px;
    }
  }

  &__email,
  &__pass {
    > input {
      background: #ffffff;
      padding: 10px 10px 10px 20px;
      border: 1px solid #eaeaf0;
      box-sizing: border-box;
      border-radius: 5px;
      width: 85%;
      height: 60%;
    }
    > label {
      font-weight: 400;
      font-size: 12px;
    }
  }

  &__type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0 0;
    background-color: #edf2f6;
    padding: 10px 0 10px 0;
    > p {
      margin-left: 30px;
      font-size: 18px;
    }
  }

  &__btnclose {
    color: red;
    margin-right: 10px;
    cursor: pointer;
  }

  &__sign {
    display: flex;
    justify-content: center;
  }

  &__sign-btn {
    background: none;
    border-radius: 4px;
    padding: 10px 30px 10px 30px;
    border: 2px solid $linkcolor;
    outline: none;
    color: black;
    width: 90%;
  }

  &__registr {
    text-align: center;
    > a {
      font-size: 14px;
    }
  }

  &__check {
    > span {
      font-size: 12px;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: $linkcolor !important;
}
