$linkcolor: #f4768d;
.categories {
  display: flex;
  gap: 30px;
  font-family: 'Poppins', sans-serif;
  &__banner {
    background-color: $linkcolor;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex: 0.3;
  }
  &__banner-info {
    flex: 1;
    padding: 30px;
    > p {
      margin-bottom: 10px;
      font-size: 20px;
    }
    > span {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: #b42020;
    }
  }
  &__read {
    margin: 30px;
    width: 160px;
    border: 2px solid #b42020;
    background: none;
    border-radius: 12px;
    padding: 12px 30px 12px 16px;
  }
  &__button-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
