$linkcolor: #f4768d;
$subfocusAndBorderColorInBanner: #b42020;
$TextColorInProductCard: #151515;
$borderButtonsColorCardInProductCard: #b42020;
$searchBgInProductCard: #d1d1d1;
$stripColorInFeedback: #d1d1d1;
$buttonBgInSideMenuList: #f5f5f5;
$linkcolorInRegistration: black;
