$linkcolor: #f4768d;
$subfocusAndBorderColorInBanner: #b42020;
$TextColorInProductCard: #151515;
$borderButtonsColorCardInProductCard: #b42020;
$searchBgInProductCard: #d1d1d1;
$stripColorInFeedback: #d1d1d1;
$searchBgInHeadBlock: #d1d1d1;
$buttonBgInSideMenuList: #f5f5f5;
$linkcolorInRegistration: black;
$InputBorderColorInLogin: #eaeaf0;
$BGColorLoginTop: #edf2f6;
$BGPageRegistrationColor: rgb(250, 232, 232);
$BGPageRegistrationGradient: linear-gradient(
  351deg,
  rgb(250, 232, 232) 30%,
  rgb(255, 126, 151) 100%
);
$BGFormRegistrationColor: rgb(250, 232, 232);
$BGFormRegistrationGradient: linear-gradient(
  177deg,
  rgb(250, 232, 232) 30%,
  rgb(255, 126, 151) 100%
);
$InputFormShadowColor: rgb(34 60 80 / 20%);
$FormRegistrationButtonColor: rgb(251, 103, 103);
$FormRegistrationButtonGradient: linear-gradient(
  239deg,
  rgb(251, 103, 103) 30%,
  rgb(251, 126, 255) 91%
);
