@mixin ErrorValidation {
  color: red;
  display: flex;
  align-items: center;
  gap: 2%;
}
@mixin CartButtons {
  border: none;
  background: none;
}

@mixin ProductLogo {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
