@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import '../../Helper/ListColorVariable.scss';
@import '../../Helper/Mixins.scss';

.search {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 35px 0 35px 0;

  &__input {
    display: flex;
    align-items: center;
    width: 35%;
    > button,
    input {
      border: none;
      outline: none;
      background-color: $searchBgInHeadBlock;
      padding: 10px;
    }
    > button {
      border-right: 1px solid black;
      width: 40%;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    > input {
      width: 60%;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}
.profile {
  display: flex;
  align-items: center;
  gap: 50px;
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.openCartButton {
  @include CartButtons;
}
