@import '../../Helper/ListColorVariable.scss';

.categories__banner {
  background-color: $linkcolor;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.categories__banner-info {
  flex: 1;
  padding: 30px;
  > p {
    margin-bottom: 10px;
    font-size: 20px;
  }
  > span {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $subfocusAndBorderColorInBanner;
  }
}
.categories__read {
  margin: 30px;
  width: 160px;
  border: 2px solid $subfocusAndBorderColorInBanner;
  background: none;
  border-radius: 12px;
  padding: 12px 30px 12px 16px;
}
.categories__button-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
