.registration {
  &__greeting {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__form {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 7%;
    border-radius: 12px;
  }
  &__inputName,
  &__inputPassword {
    margin: 1%;
  }
}
