@import '../../Helper/ListColorVariable.scss';
@import '../../Helper/Mixins.scss';

.product-card__body {
  background: white;
  border: 1px solid $searchBgInProductCard;
  border-radius: 12px;
  flex: 0 0 250px;
  margin: 1%;
  max-width: 250px;
}
.product-card__img {
  margin: 5% 5% 0 5%;
  > img {
    @include ProductLogo;
  }
}
.product-card__img-buttons {
  position: relative;
  top: -40px;
  display: flex;
  justify-content: right;
  margin-right: 5%;
  > button {
    background-color: inherit;
    border: none;
  }
}

.product-card__info {
  padding: 0 5% 0 5%;
  color: $TextColorInProductCard;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  > p {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  > span {
    font-weight: 400;
    font-size: 10px;
  }
}
.product-card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  > button {
    background: $linkcolor;
    padding: 6.5px 12px 6.5px 12px;
    border: 2px solid $borderButtonsColorCardInProductCard;
    border-radius: 12px;
    color: white;
  }
}
@media screen and (max-width: 900px) {
  .product-card {
    &__body {
      max-width: 180px;
    }
    &__price {
      flex-direction: column-reverse;
    }
  }
}
