@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
$linkcolor: #f4768d;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $linkcolor;
}
.blockBanners {
  display: flex;
  gap: 30px;
  padding: 0 30px 0 0;
}
.blocks {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    'sidemenu banner'
    'sidemenu card'
    'sidemenu card';
  gap: 20px;
}
.blockSideMenus {
  grid-area: sidemenu;
}
.blockBanners {
  grid-area: banner;
}
.blockCards {
  grid-area: card;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  padding: 0 30px 0 0;
}
button:active {
  transform: scale(0.8);
  transition: all 0.4s linear;
}
