$linkcolor: black;
* {
  font-family: 'Poppins', sans-serif;
}
.registration {
  height: 100vh;
  background: rgb(250, 232, 232);
  background: linear-gradient(
    351deg,
    rgb(250, 232, 232) 30%,
    rgb(255, 126, 151) 100%
  );
  a {
    color: $linkcolor;
    text-decoration-color: $linkcolor;
    text-decoration-thickness: from-font;
  }
  &__body {
    background-color: #fff;
    width: 60%;
    height: 80%;
    border-radius: 12px;
    background: rgb(250, 232, 232);
    background: linear-gradient(
      177deg,
      rgb(250, 232, 232) 30%,
      rgb(255, 126, 151) 100%
    );
    margin: 5% auto;
  }
  .input {
    display: flex;
    flex-direction: column;
    > input {
      padding: 2%;
      border-radius: 8px;
      border: 0;
      outline: none;
      box-shadow: 0px 5px 10px 2px rgb(34 60 80 / 20%) inset;
    }
    > label {
      color: $linkcolor;
      font-size: 16px;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3%;
    gap: 32%;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__img {
    flex: 0.4 1;
    background-color: rgba(251, 126, 255, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    flex-direction: column;
    > span {
      font-weight: bold;
      font-size: 20px;
    }
  }
  &__btn {
    width: 60%;
    padding: 5px 15px 5px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    text-transform: uppercase;
    background: rgb(251, 103, 103);
    background: linear-gradient(
      239deg,
      rgb(251, 103, 103) 30%,
      rgb(251, 126, 255) 91%
    );
    font-weight: bold;
    color: white;
    margin: 0 auto;
    box-shadow: 0px 5px 10px 2px rgb(34 60 80 / 20%) inset;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 60%;
    margin: 0 auto;
  }
  &__exit {
    flex: 0.25 1;
    display: flex;
    align-items: flex-end;
    padding: 3% 0% 5% 6%;
  }
  &__greeting {
    > p > strong {
      font-size: 35px;
      color: $linkcolor;
    }
    > span {
      color: $linkcolor;
    }
  }
}
