@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import '../../Helper/ListColorVariable.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.blocks {
  display: flex;
}
.blockCards {
  width: 80%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.blockSideMenus {
  width: 20%;
}
button:active {
  transform: scale(0.8);
  transition: all 0.4s linear;
}
.pagination {
  display: flex;
  margin: 1%;
  justify-content: center;
  > li {
    text-align: center;
    border-radius: 12px;
    padding: 2%;
    cursor: pointer;
    width: 50px;
  }
}
.active {
  background-color: #f4768d;
  > a {
    color: white;
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .blockSideMenus {
    display: none;
  }
  .blocks {
    justify-content: flex-start;
  }
  .blockCards {
    width: 100%;
  }
  .cards {
    justify-content: center;
  }
}
